* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 174, 96);
}

button {
  display: inline;
  background-color: rgb(39, 174, 96);
  color: rgb(255, 255, 255);
  border-style: none;
}

.container {
  margin: auto;
}

#quoteBox {
  display: block;
  width: 70%;
  background-color: rgb(255, 255, 255);
  color: rgb(39, 174, 96);
  text-align: center;
  position: relative;
  border: 20px solid rgb(255, 255, 255);
  margin: auto;
}

#quoteText {
  color: rgb(39, 174, 96);
  font-size: 30px;
  width: 80%;
  text-align: center;
  display: inline-block;
}

#quoteAuthor {
  color: rgb(39, 174, 96);
  font-size: 15px;
  width: 80%;
  text-align: right;
  display: inline-block;
}

#randomQuote {

}
